body{
    background-color: #000000;
    color: #ffffff;
}
.navbar{
    background-color: #000000;
    box-shadow: 0 1px 10px 0 rgba(255,255,0);
}
button{
    color: #ffff00;
}
.nav-item{
    color: #ffff00;
    font-size: large;
}
.nav-item:hover{
    color: #9600E8;
}
.fa{
    color: #ffff00;
    font-size: xx-large;
}

.fa:hover{
    color: #9600E8;
}

.padding{
    padding-top: 50px;
    padding-right: 0px;
    padding-left: 50px;
    padding-left: 0px;
}

.footer{
    color: #ffff00;
    text-align: center;
    text-decoration: none;
    font-size: small;
}
.footer:hover{
    color: #9600E8;
}