body{
    background-color: #ffffff;
    color: #292d2d;
    padding-top: 80px;
}

.navbar{
    background-color: #ffffff;
    box-shadow: 0 1px 10px 0 #292d2d;
}

.nav-link{
    color: #292d2d;
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link:hover{
    color: #292d2d;
    opacity: 0.5;
}

.custom-toggler.navbar-toggler {
    opacity: 1.0;
}

.fa{
    color: #292d2d;
    font-size: xx-large;
}

.fa:hover{
    color: #292d2d;
    opacity: 0.5;
}

.fa-bars{
    color: #292d2d;
    font-size: 28px;
}

.lg-padding{
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
}

.sm-padding{
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}



.footer{
    color: #292d2d;
    text-align: center;
    text-decoration: none;
    font-size: small;
}

.footer:hover{
    color: #292d2d;
    opacity: 0.5;
}

.about{
    text-align: justify;
}

.header{
    text-align: center;
}

.list-group-item{
    background: #ffffff;
    color: #292d2d;
    border-color: #ffffff;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
}

.list-group-item:hover{
    background: #ffffff;
    color: #292d2d;
}

.btn-tickets{
    background: transparent;
    color: #292d2d;
    box-shadow: 0 1px 10px 0 #292d2d;
}

.btn-tickets:hover{
    background: #292d2d;
    color: #ffffff;
    opacity: 0.5;
    box-shadow: 0 1px 10px 0 #292d2d;
}