body{
    background-color: #000000;
    color: #ffffff;
    padding-top: 80px;
}

.navbar{
    background-color: #000000;
    box-shadow: 0 1px 10px 0 #ffff00;
    opacity: 0.9;
}

.nav-link{
    color: #ffff00;
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link:hover{
    color: #9600E8;
}

.custom-toggler.navbar-toggler {
    opacity: 1.0;
}

.fa{
    color: #ffff00;
    font-size: xx-large;
}

.fa:hover{
    color: #9600E8;
}

.fa-bars{
    color: #ffff00;
    font-size: 28px;
}

.padding{
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
}

.footer{
    color: #ffff00;
    text-align: center;
    text-decoration: none;
    font-size: small;
}

.footer:hover{
    color: #9600E8;
}

.about{
    text-align: justify;
}

.header{
    text-align: center;
}

.list-group-item{
    background: #000000;
    color: #ffffff;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
}

.list-group-item:hover{
    background: #000000;
    color: #ffffff;
}

.btn-tickets{
    background: transparent;
    color: #ffff00;
    box-shadow: 0 1px 10px 0 #ffff00;
}

.btn-tickets:hover{
    color: #9600E8;
    box-shadow: 0 1px 10px 0 #9600E8;
}